 .active {
    border-bottom: 3px solid #FFFFFF
}
.navbar{
    position: fixed;
    width: 100%;
}

 .navbar-nav {
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    color: #333333;
}

.nav-link{
    color: currentColor;
}

@media(min-width:990px){
    .nav-link{
        transform: none;
        transition: none;
    }

    .active{
        transform: none;
        transition: none;
    }
}


@media(max-width:990px){
    /* .active{
        border: none;
        color: #333333;
    }
*/
    a:not([href]):not([class]):hover {
        color:#333333;
    
   }
   
   a:not([href]):not([class]) {
       color:#333333;
   
   }

   .nav-link{
       margin-bottom: 40px;
   }


.show{
    background-color: #FFFFFF;
    height: -webkit-fill-available;
    margin-top: -10px;
    margin-left: -96.5%;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-top: 26px;
    align-items: center;
   
   
}

.hamburger_button{
    margin-left: 45vw;
}
}
@media (min-width:990px)
{
    .exmarksspot{
        margin-left: 10vw!important;
    }

    .overlay_hamburger_mobile{
        display: none;
    }
   
    .navbar-expand-lg{
        display: none;
    }

    a:not([href]):not([class]):hover {
        color:#FFFFFF
    
   }
   
   a:not([href]):not([class]) {
       color:#FFFFFF
   
   }
    
}


/* ---------- */
.nav{
    margin-top: -70%;
}
  
  .nav {
    display: flex;
align-items: center;
    list-style: none;   
  
  }
  .nav > li {                                                             /*max-width: 768px*/
      display:Inline-block;
      padding: 10px 9px 10px 9px;                               /*nav bar text*/
  }
  
   .nav > li a {                                               
       text-decoration: none;
       font-style: normal;
       font-weight: normal;
       font-size: 16px;
       line-height: 26px;
       letter-spacing: 0.05em;
       color: #FFFFFF;
       padding: 5px 0px 5px 0px
   }
  
   .nav > li > a:hover {
    border-bottom: 1px solid #FFFFFF;
   }

   .copen_logo{
       height: 26px;
    position: fixed;
       margin-left: -30vw;
       margin-top: -10px;
   }